shap==0.45.0
transformers
pandas
ipykernel
langdetect
matplotlib
nltk
peft
bitsandbytes
accelerate
evaluate
sentencepiece
datasets
lime
lxt==0.6.0
wandb
inseq[notebook]
ferret-xai==0.4.2
ipywidgets
python-dotenv
structlog
qdrant-client
--extra-index-url https://download.pytorch.org/whl/cu118
torch