shap==0.45.0
transformers
pandas
ipykernel
langdetect
matplotlib
nltk
peft
bitsandbytes
accelerate
evaluate
sentencepiece
datasets
lxt
wandb
ipywidgets
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cu118
torch