shap==0.45.0
transformers
pandas
ipykernel
langdetect
matplotlib
nltk
peft
bitsandbytes
accelerate
evaluate
sentencepiece
datasets
lime
# LXT 0.6.0 with fixes
git+https://github.com/dvdblk/LRP-eXplains-Transformers.git@main#egg=lxt
wandb
inseq[notebook]
# Ferret 0.4.1 with fixes
git+https://github.com/dvdblk/ferret.git@main_fixed#egg=ferret-xai
ipywidgets
python-dotenv
structlog
qdrant-client

--extra-index-url https://download.pytorch.org/whl/cu118
torch